{{define "articlesform"}}
<div
  class=" mx-auto block max-w-md rounded-lg bg-gray-800 p-6 shadow-4 dark:bg-surface-dark">
  <form hx-post="/article/" hx-target="#article-box" hx-swap="beforeend" hx-on::after-request="this.reset()" class="sticky top-40"> 
    <div>
        <input type="hidden" name="title"id="title"> 
      
    <button hx-post="/articles-list/" hx-target="#article-list"hx-swap="innerHTML" 
      class="inline-block w-full rounded bg-lime-400 px-24 pb-3 m-1 pt-3 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:bg-lime-300 shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
      data-twe-ripple-init
      data-twe-ripple-color="light">
      Article List

    </button>
  </form>
</div>
{{end}}