<!DOCTYPE html>
<html lang="en" style="height:100%; margin: auto; width: 100%; overflow: scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body id="article-box"class="bg-[url('/assets/scriptorium.jpg')] bg-cover bg-no-repeat height: 100%; width 100%">
    {{template "navbar"}}
    <div class="grid grid-cols-2 p-6">
        <div id="article-list" class="inline-block w-full rounded  px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white m-2">
        <div class="max-w-lg divide-y divide-gray-200 dark:divide-black"> 
        </div>
        </div>
        <div>
            {{template "articlesform"}}
        </div>
    </div>
</body>
</html>