{{define "header1"}}
<header>
    <!-- Navigation bar -->
    <!-- Hero section with background image, heading, subheading and button -->
    <div
      class="relative h-[500px] overflow-hidden bg-[url('/assets/cityscape.jpg')] bg-cover bg-[50%] bg-no-repeat">
      {{template "navbar"}}
      <div
        class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed">
        <div class="flex h-full items-center justify-center"> 
          <div class="px-6 text-center text-white md:px-12">
            <h1 class="mb-6 text-5xl font-bold">NeonDreams</h1>
            <h3 class="mb-56 text-3xl font-bold">Escape the Mundane</h3>
          </div>
        </div>
      </div> 
    </div>
  </header>
  {{end}}