<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeonDreams</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-600 content-center">
    {{template "header"}}
    <div class="grid grid-cols-2 p-6">
        <div class="inline-block w-full rounded  px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white">
        <ul  id= "film-list"class="max-w-md divide-y divide-gray-200 dark:divide-black">
        </ul>
        </div>
        <div>
        {{template "filmform"}}
        </div>
        <button
      type="submit"
      class="inline-block w-full rounded bg-pink-700 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:bg-pink-500 shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
      data-twe-ripple-init
      data-twe-ripple-color="light">
      Add Film
    </button>
    </div>
    {{template "footer"}}   
</body>
</html>
