<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerdigarchy</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-stone-300 content-center">
    {{template "header"}}
    <div class="grid grid-cols-2 gap-4">
        <div>
        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
        {{range .Films}}
        <li class="pb-3 sm:pb-4">
            <div>{{.Title}} - {{.Director}}</li></div>
        {{end}}
        </ul>
        </div>
        <div>
        {{template "form"}}
        </div>
    </div>
    {{template "footer"}}   
</body>
</html>
